# Xmonad
config/xmonad/xmonad.o
config/xmonad/xmonad.hi

# Qtile
config/qtile/__pycache__

# Ranger
config/ranger/plugins/__pycache__
config/ranger/plugins/ranger_devicons/*
!config/ranger/plugins/ranger_devicons/__init__.py
!config/ranger/plugins/ranger_devicons/devicons.py

# Neovim
config/nvim/plugin

# Mpv
config/mpv/scripts/

# Zsh
config/zsh/plugins

# Rofi
config/rofi/current.rasi
