# Xmonad
xmonad/xmonad.o
xmonad/xmonad.hi

# Qtile
qtile/__pycache__

# Ranger
ranger/plugins/__pycache__
ranger/plugins/ranger_devicons/*
!ranger/plugins/ranger_devicons/__init__.py
!ranger/plugins/ranger_devicons/devicons.py

# Neovim
nvim/plugin

# Mpv
mpv/scripts/

# Zsh history
zsh/.zsh_history

# Rofi
rofi/current.rasi
