[user]
	name = Akmadan23
	email = azadahmadi@mailo.com
[core]
	editor = nvim
    ; pager = less
    pager = diff-so-fancy | nvim -c 'set ft=diff | AnsiEsc' -RM

[color]
	ui = true

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red

[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red bold
	newNormal = green
    newHighlight = green bold

[diff-so-fancy]
	first-run = false
