! setting DPI
Xft.dpi: 105

! SXIV color settings
Sxiv*background: #242424
Sxiv*foreground: #1ABC9C

XTerm*renderFont: true
XTerm*scrollBar: false
XTerm*colorBDMode: false
XTerm*faceName: Hasklug Nerd Font
XTerm*faceSize: 9
XTerm*utf8: 2
XTerm*locale: true
XTerm*loginShell: true
XTerm*saveLines: 16000

XTerm*translations: #override \n\
  Ctrl <Key> -: smaller-vt-font() \n\
  Ctrl <Key> +: larger-vt-font()

! colors
XTerm*color0:   #000000
XTerm*color8:   #666666
XTerm*color1:   #F92672
XTerm*color9:   #F92672
XTerm*color2:   #A6E22E
XTerm*color10:  #A6E22E
XTerm*color3:   #E6DB74
XTerm*color11:  #E6DB74
XTerm*color4:   #66D8EF
XTerm*color12:  #66D8EF
XTerm*color5:   #FD971F
XTerm*color13:  #FD971F
XTerm*color6:   #AE81FF
XTerm*color14:  #AE81FF
XTerm*color7:   #F8F8F0
XTerm*color15:  #F8F8F0

! special colors
XTerm*background:   #242424
XTerm*foreground:   #DDDDDD
XTerm*cursorColor:  #DDDDDD
