#window {
    /* The name of the box that contains everything */
}

#outer-box {
    /* The name of the search bar */
    /* The name of the scrolled window containing all of the entries */
}

#input {
    /* margin-bottom: 10px; */
}

#scroll {
    margin: 10px;
    /* The name of the box containing all of the entries */
    /* The name of all the text in entries */
    /* The name of all entries */
    /* The name of all boxes shown when expanding  */
    /* entries with multiple actions */
}

#entry {
    /* margin: 0 10px; */
}

#entry #text {
    margin-left: 10px;
}
