window {
	background-image: url("/home/azadahmadi/.config/qtile/images/wallpaper.jpg");
}

button {
    color: white;
    margin: 12px;
	border-radius: 12px;
	background-color: rgba(36, 87, 77, 0.8);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:hover {
	background-color: rgba(36, 87, 77, 1);
}

button:active {
	background-color: rgba(26, 188, 156, 1);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
